.app {
  justify-content: center;
  margin:50px;
}

.tabs-container {
  display: flex;
}

.tabs 
{
  padding:20px;
  border:1px solid black;
  cursor: pointer;
}

.tab-content {
  height: 500px;
  border:1px solid black;
  padding:20px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap:40px;
}